[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/Command-T"]
	path = vim/bundle/Command-T
	url = https://github.com/wincent/Command-T.git
[submodule "vim/bundle/vim-easytags"]
	path = vim/bundle/vim-easytags
	url = https://github.com/xolox/vim-easytags.git
[submodule "vim/bundle/ack.vim"]
	path = vim/bundle/ack.vim
	url = https://github.com/vim-scripts/ack.vim.git
[submodule "vim/bundle/protodef"]
	path = vim/bundle/protodef
	url = https://github.com/derekwyatt/vim-protodef.git
